# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual env
.venv/
venv/

# Django
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

.vs/
**/.venv/
**/__pycache__/
*.pyc
*.sqlite3
.env
.vscode/
.idea/